<section id="header">
  <div id="restaurant">
    <div id="address"><i class="fa-solid fa-location-dot"></i>  725 Granville St Suite 700, Vancouver, BC V7Y 1G5</div>
    <div id="restaurant_name">FAANG Restaurant</div>
  </div>
  <div id="client">
    <div id="client_name">James Harden</div>
    <div id="logout">Logout</div>
  </div>
</section>
<section id="nav">
  <div class="nav"><a href="/restaurant" style="text-decoration: none">Main Menu</a></div>
  <div class="nav"><a href="/foods" style="text-decoration: none">My Cart</a></div>
  <div class="nav"><a href="/records" style="text-decoration: none">Order History</a></div>
</section>
