<section id="header">
  <div id="restaurant_name">FAANG Restaurant</div>
  <div id="logout">Logout</div>
</section>
<section id="nav">
  <div class="nav"><a href="/restaurant" style="text-decoration: none">Main Menu</a></div>
  <div class="nav"><a href="/foods" style="text-decoration: none">My Cart</a></div>
  <div class="nav"><a href="/records" style="text-decoration: none">Order History</a></div>
</section>
