html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

main {
  margin-top: 290px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 300px;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}


.container {
  padding: 5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body {
  color: #0b0b0b;
  background-color: #f4f1ec;
  font-family: 'Source Sans Pro', sans-serif;
}

#button {
  padding: 10px;
  border-style: solid;
  border-width: 1.5px;
  border-color: #0b0b0b;
  background-color: #f7f7f2;
  color: blueviolet;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: larger;
  font-style: inherit;
  font-weight: 600;
}

.card {
  border-style: solid;
  border-width: 1px;
  border-color: #0b0b0b;
}

.card-title {
  color: blueviolet;
  font-size: 2em;
  font-style: inherit;
  font-weight: 600;
}

.card-price {
  color: blueviolet;
  font-size: 1.5em;

}
.card-text {
  color: blueviolet;
  font-size: 1em;
  font-style: italic;

}
