body {
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 300px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  background-image: url("/images/arches.png");
}

#history {
  width: 70%;
}

#records {
  width: 100%;
  border-spacing: 0 25px;

  thead {
    width: 90%;

    tr {
      font-size: 25px;
    }
  }

  tbody {
    width: 90%;
    font-family: 'Poppins', sans-serif;

    tr {
      font-size: 20px;
    }

    td {
      text-align: center;
    }

    input {
      width: 10%;
    }

  }

}
